@font-face {
    font-family:authentic;
    src: url(AUTHENTICSans-150.woff);
    
}
@font-face {
    font-family:authenticregular;
    src: url(AUTHENTICSans-130.woff);
    
}
@font-face {
    font-family:mono;
    src: url(RobotoMono-Regular.ttf);
    
}

.apropos{  font-family: authentic;
            position: fixed;
            right: 3vw;
            top: 3vh;
            text-transform: uppercase;


}

a{ display: inline;
    color: black;
    font-family: mono;
    width: 3vw;}

h1{ 
    font-family: authentic;
    margin-bottom: -2%;
    font-size:  2.5em;
    
   
}
header{ 
   height: 15vh;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 1;
}

h2{ padding-top: 0px;
    margin-top: 0px;
    font-family: mono;
    font-size: 1.2em;

    }
.about{ 
    z-index: 2;
    position: relative;
    margin: auto;
    width: 70vw;
    font-family: authenticregular;
    font-size: 1em;
    text-align: justify;
  opacity: 0;
    column-count: 2;
    column-gap: 20px;
   




}

.notsee{ opacity: 0;}
.seen{ display: block;
    opacity: 1;


}
.main{ 
      -webkit-filter: blur(0px);
}
.blur{ 
      -webkit-filter: blur(9px);
}
.container{ 
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 25%;
    /* background-color: pink; */
}

.chiffre{ 
    font-family: mono;
    position: relative;
    display: inline-block;
    font-size: 0.5em;
    vertical-align: top;
}
.titre{ 
    position: relative;
    display: inline-block;
    font-family: authentic;
    font-size:  1em;
    vertical-align: top;

}
.problematique{
    font-family: mono;
    position: relative;
    display: inline-block;
    width: 50vw;
    font-size: 0.6em;
    margin-left: 1vw;
    

}
:hover.chronique{ 
    background-color: white;
    /* background-color: blanchedalmond; */
}
.chronique{ 
    border-style: solid hidden hidden hidden ;
  
    border-width:0.05em; 
    border-color: black;
    padding-top: 1vh;

}

/* .un:hover ~ .hiddenimg {
    display: block;
    position: absolute;
      z-index: 2
  } */

  .hiddenimg {
    display: none;
  }
  .hiddentxt:hover ~ .hiddenimg {
    display: block;
    position: absolute;
      z-index: 2
  }
  
  /* img{ display: none;} */

  .no{ 

    position: fixed;
    top: -40vh;
   left: -35vw;
    z-index: -1;
    display: none;
     width: 100vw;




  }
  .nb{ 

    position: fixed;
    top: -35vh;
   left: -35vw;
    z-index: -1;
    display: none;
     width: 100vw;




  }
  .na{ 

    position: fixed;
    top: -65vh;
   left: -35vw;
    z-index: -1;
    display: none;
     width: 100vw;




  }


  .yes{ 
    display: block;

  }
  
  